
<div class="container-md p-2 mt-4">     
    <div class="card border-success mb-3" style="max-width: 40rem;">
        <div class="card-header">Resistencias</div>
        <div class="card-body px-5">
          <!-- <h4 class="card-title">Success card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                <div class="form-group d-inline-flex">
                    <!-- <label class="col-form-label col-form-label-lg mt-4" for="R1">R1</label> -->
                    <input 
                        class="form-control form-control-lg m-2" 
                        type="text"
                        name="R1"
                        placeholder="R1" 
                        id="R1">

                    <!-- <label class="col-form-label col-form-label-lg mt-4" for="R2">R2</label> -->
                    <input 
                        class="form-control form-control-lg m-2" 
                        type="text" 
                        name="R2"
                        placeholder="R2" 
                        id="R2">
                </div>

                <div class="d-flex flex-row-reverse bd-highlight px-4">
                    <button 
                        type="button" 
                        class="btn btn-success m-2" 
                        id="btnSeries"
                        >Series
                    </button>

                    <button 
                        type="button"
                        class="btn btn-success m-2" 
                        id="btnParallel"
                        >Parallel
                    </button>

                </div>
        </div>
    </div>
</div>