<div class="container-md p-2">
    <div class="card border-success mb-3" style="max-width: 40rem;">
        <table class="table table-hover" id="Table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Configuration</th>
                <th scope="col">R1 (ohm)</th>
                <th scope="col">R2 (ohm)</th>
                <th scope="col">Rt (ohm)</th>
              </tr>
            </thead>
            <tbody>     
            </tbody>
          </table>
    </div>
</div>